<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Tic Tac Toe</title>
  <meta name="description" content="Tic Tac Toe">
  <meta name="author" content="Dan Pelensky">
  <link rel="stylesheet" href="css/style.css">

  <script
  src="https://code.jquery.com/jquery-3.1.1.js"
  integrity="sha256-16cdPddA6VdVInumRGo6IbivbERE8p7CQR3HzTBuELA="
  crossorigin="anonymous"></script>
  <script src="js/index.js"></script>
</head>

<body>
  <h1> Let's Play Tic Tac Toe!</h1>
  <div id="typeOfGame">
    <input id="playerVSPlayer" type="button" value="Player VS Player">
    <input id="playerVSComputer" type="button" value="Player VS Computer">
    <input id="computerVSComputer" type="button" value="Computer VS Computer">
  </div>
  <div id="startingPlayer">
    <input id="playerStarts" type="button" value="Player Starts">
    <input id="computerStarts" type="button" value="Computer Starts">
  </div>
  <div id="turn"> </div>
  <table>
    <tr>
      <td id="0"></td>
      <td id="1"></td>
      <td id="2"></td>
    </tr>
    <tr>
      <td id="3"></td>
      <td id="4"></td>
      <td id="5"></td>
    </tr>
    <tr>
      <td id="6"></td>
      <td id="7"></td>
      <td id="8"></td>
    </tr>
  </table>
  <input id="resetGame" type="button" value="Reset Game">
</body>
</html>
